* {
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    } 
body{
    background-image:  url("Imagenes/FotoFondo4.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    
}
.navegacion{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}       

.navegacion li {
    display: inline-block;
    margin-right: 10px;
}

a{
    color: white;
}

a:hover {
    color: grey;
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 8em;
    text-align: center;
    background-image: url(Imagenes/beach.gif);
    background-position: center;
    color: transparent;
    background-clip: text;
    margin-top: 10%;
} 




