* {
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-image: url(../Imagenes/FotoFondo4.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    
}
.navegacion{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}       

.navegacion li {
    display: inline-block;
    margin-right: 10px;
}

a{
    color: white;
}

a:hover {
    color: grey;
}

h3{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url(../Imagenes/beach.gif);
    background-clip: text;
    color: transparent;
    font-size: 8em;
}
p{
font-size: large;
}
.formulario{
    margin-top: 5%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.enviar{
    text-align: center;
    justify-content: center;
}