* {
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-image:  url(../Imagenes/FotoFondo4.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    }

.navegacion{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}       

.navegacion li {
    display: inline-block;
    margin-right: 10px;
}

a{
    color: white;
}

a:hover {
    color: grey;
}

h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 8em;
    text-align: center;
    background-image: url(../Imagenes/beach.gif);
    background-position: center;
    color: transparent;
    background-clip: text;
    margin-top: 2%;
}   
.parrafo{
    text-align: center;
    text-decoration: overline;
    
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    margin-top: 5%;
    margin-left: 10px;
}


fieldset{
    border: none;
    
}
.fotoMarbella{
    height: 250px;
    width: 200px;
    margin-left: 10px;
    overflow: hidden;
    margin: 20px;
    transition: 0.3s ease;
}
.fotoMarbella:hover{
    -webkit-transform:scale(1.3);transform:scale(1.3);
}
.fotoLisboa{
    height: 250px;
    width: 200px;
    margin-left: 10px;
    overflow: hidden;
    margin: 20px;
    transition: 0.3s ease;
}
.fotoLisboa:hover{
    -webkit-transform:scale(1.3);transform:scale(1.3);
} 
.fotoNieve{
    height: 250px;
    width: 200px;
    margin-left: 10px;
    overflow: hidden;
    margin: 20px;
    transition: 0.3s ease;
}
.fotoNieve:hover{
    -webkit-transform:scale(1.3);transform:scale(1.3);
}
.fotoParque{
    height: 250px;
    width: 200px;
    margin-left: 10px;
    overflow: hidden;
    margin: 20px;
    transition: 0.3s ease;
}
.fotoParque:hover{
    -webkit-transform:scale(1.3);transform:scale(1.3);
}
.videoNieve{
    height: 250px;
    width: 200px;
    margin-left: 10px;
    margin: 20px;
    overflow: hidden;
    transition: 0.3s ease;
}

.videoNieve::-webkit-media-controls{
    opacity: 0;
    transition: opacity 0.3s;
}

.videoNieve:hover::-webkit-media-controls{
    opacity: 1;
}

.videoNieve:hover{
    -webkit-transform:scale(1.3);transform:scale(1.3);
}

.container{
    display: flex;
}

.parrafoFoto{
    display: inline-block;
    margin-right: 135px;
    margin-top: -1px;
    font-style: italic;
}    
